h1 {
    font-size: 6vw;
    margin-top: 10%;
}
#websiteName {
  padding: 20%;
  position: fixed;
  padding: 0;
  right: 2%;
  top: 3%;
  width: 5%;
  height: 5%;
  font-weight: bold;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;

}

.gridItem{
    width: 30%;
    height: 20vw;
    transition: 0.3s;
    border-radius: 1.5%;
}
.gridItem:hover{
    border: 1px solid white;
    width: 33%;
    height: 21vw;
    border-radius: 50%;
}
button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5% 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0;;
}
main {
  margin: 0 10% 0 10%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100%;
  color: white;
  background-image: url(ze.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 251, 251);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    --wp-admin-theme-color: #007cba;
--wp-admin-theme-color-darker-10: #006ba1;
--wp-admin-theme-color-darker-20: #005a87;
-webkit-font-smoothing: antialiased;
color: #ffffff;
text-align: initial;
box-sizing: border-box;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
font: inherit;
font-family: inherit;
font-style: inherit;
font-weight: inherit;
display: inline-block;
list-style-type: none;
margin: 0;
vertical-align: bottom;
  }
  